// Цвета
$gray-1: #f7f7f7;
$gray-2: #d9d9d9;

$brand-1: #fc8507;
$brand-2: #ffa218;

$black-1: #333333;

// Отступы
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;

$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 12px;
$padding-lg: 24px;

// Скругления
$radius: 8px;

// Шрифты
$font-main: "Inter", sans-serif;

