@use "./variables" as *;

.button {
  border: none;
  background-color: white;
  border-radius: $radius;
  padding: $space-sm $space-md;
  font-family: $font-main;

  &.brand {
    border: none;
    background: linear-gradient(101.36deg, $brand-1 0%, $brand-2 100%);
    font-weight: bold;
    color: white;
  }

  &.outline {
    border: 1px solid $gray-2;
    color: $black-1;
  }

  &.flat {
    background-color: $gray-1;
  }

  &.icon {
    padding: 0;
    width: 36px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
